* {
  margin: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #5584ac;
  width: 100%;
  height: 200px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 40px 200px;
}

.desc-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.desc-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc-items img,
span {
  margin-right: 20px;
}

.avancement {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.cours-icon {
  margin: 0 5px;
}

.cours-section {
  margin: 0 10px;
}

.cours {
  width: 40px;
  height: 20px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  cursor: pointer;
}

.cours-contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 40%;
  height: auto;
  font-size: 30px;
  margin: 60px 0 0 0;
}

.description p {
  margin: 60px 0;
}

.validate-cours {
  height: 40px;
  width: auto;
  background-color: #5584ac;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: large;
  margin-bottom: 50px;
  cursor: pointer;
}

.chapter-btns {
  display: flex;
  flex-direction: row;
}

.change-chapter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 80px 50px 80px;
  height: 40px;
  width: auto;
  background-color: white;
  color: #5584ac;
  border: 1px solid #5584ac;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}
