* {
  margin: 0px;
  box-sizing: border-box;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 120px;
  color: white;
}

.up-btn {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #5584ac;
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
}

.chevron {
  width: 20px;
  height: auto;
}
