* {
  margin: 0px;
  box-sizing: border-box;
}

main {
  margin-bottom: 120px;
}

.candidature {
  height: 300px;
  width: 100%;
  background-color: #5584ac;
  padding: 50px 80px;
}
.candidature h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}
.candidature p {
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
  font-size: 20px;
}
.candidature-btn {
  height: 30px;
  background-color: white;
  color: #5584ac;
  padding: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 1px 2px grey;
  margin-right: 15px;
  cursor: pointer;
}

.formations-btn {
  height: 30px;
  background-color: #5584ac;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 2px 1px 2px grey;
  cursor: pointer;
}

.section1-img {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 250px;
  height: auto;
}
.etapes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
}
.section2-card {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-evenly;
  align-items: center;
}
.section2-card h2 {
  font-size: 20px;
}
.section2-card p {
  font-size: 20px;
}
.card-img {
  width: 180px;
  height: auto;
}
.temoignages {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: #5584ac;
  color: white;
}

.temoignages p {
  font-size: 20px;
}
.temoignages button {
  background-color: #5584ac;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.temoignages button:hover {
  scale: 1.1;
}
.portrait {
  width: 150px;
  height: auto;
}
