<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
    <span>2023 © ADRAR Classrooms. Tous droits réservés.</span>
    <button class="up-btn">
    <img class="chevron" src={{asset ("assets/chevron.png")}} alt="">
    <img class="chevron" src={{asset ("assets/chevron.png")}} alt="">
    </button>
    </footer>
</body>
</html>